
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap'); 
.bg_cnr{
    background-color:#ffffff;
    background-size:cover;
    border-color: #707070;
    border-width:3px;
    border-style: solid;
    
    
}
.img{
  width:100vw;
}
.head{
  color: #0a1f44;
  font-style: "Roboto";
  font-weight:bold;
  font-size:35px;
  
}
.list{

  color: #0a1f44;
  font-family:"Roboto";
  font-size: 24px;
}
.psn{
  padding-left: 55px;
  padding-top: 20px;
}
.button{
  text-align: center;
}
.detail{
  margin: 10px;
}